*{
    padding:0;
    margin:0;
    font-family: sans-serif;
}
body{
    background-image: url(gambar/background.jpg);
    background-size: cover;
}

.profile{
    width: 350px;
    height: 450px;
    background: rgba(0,0,0,0.6);
}



.profile img{
    width: 100px;
    height: 120px;
    border-radius: 50%;
    margin-left: 120px;
    margin-top: 20px;
}

.profile h1{
    text-align: center;
    color: white;
    font-weight:bold;
}

.profile h3{
    text-align: center;
    color: white;
    margin-top: 10px;
    
}
.profile h4{
    text-align: center;
    color: white;
}

.profile p{
    color:white;
    margin-right:40px;
    margin-left: 40px;
    margin-top: 20px;
    text-align:justify;
}
.profile i:hover{
    color:darkblue;
    transition: 0.1s;
}
.icon{
    margin-left: 150px;
    margin-right: 10px;
}
.profile .icon i{
    background:white;
    padding: 5px;
}
.link ul{
    float: right;
    margin-top: 30px;
    padding: 25px 20px;
   
}
.link ul li a{
    padding: 25px 30px;
    font-size: medium;
    color: red;
}
.link ul li{
    margin-top: 30px;
    display: block;
    clear: both;

}
.link ul li a:hover{
    background-color: red;
    color: white;

}
.data h3{
    background-color: white;
    text-align: center;
    margin-top: 150px;

}
.data p{
    color: white;
}

